<a href="https://colab.research.google.com/github/Emmaculate2020/WK4-IP-Python-Analysis/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_04_Emmaculate_Okong'o_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Analysis

# 1.0 Importing our Libraries

In [0]:
# Importing the Pandas Library
#
import pandas as pd

# Importing the Numpy Library
#
import numpy as np

#1.1 Reading the Dataset from our CSV file

In [0]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
df = pd.read_csv('Autolib_dataset.csv')
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

#1.2 Previewing our Dataset

In [0]:
# Let's preview the first 10 rows of our data
#

df.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

#1.3 Exploration

In [0]:
# Getting to know more about the dataset by accessing its information
#
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [0]:
df.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

In [0]:
df.shape

(5000, 25)

In [0]:
df.dtypes

Address                object
Cars                    int64
Bluecar counter         int64
Utilib counter          int64
Utilib 1.4 counter      int64
Charge Slots            int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code             int64
Public name            object
Rental status          object
Scheduled at           object
Slots                   int64
Station type           object
Status                 object
Subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

In [0]:
# Changing the column names to lower case

df.columns = map(str.lower, df.columns)
df.head(2)

                     address  cars  bluecar counter  ...  day  hour  minute
0        2 Avenue de Suffren     0                0  ...    8    11      43
1  145 Rue Raymond Losserand     6                6  ...    6     7      24

[2 rows x 25 columns]

#1.4 Validity

In [0]:
# Irrelevant data are those that are not actually needed, and don’t fit under 
# the context of the problem we’re trying to solve.
# In this case we are going to delete various columns as follows;
df = df.drop(['geo point','subscription status','status','station type','year','month','charging status'], axis = 1)
df.head()

                              address  cars  bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 18 columns]

# 1.5 Completeness

In [0]:
# Checking if there is any missing value across each column
# 

df.isnull().sum()

# We get that there are no null values in our dataset therefore our dataset is complete and ready for analysis

address                  0
cars                     0
bluecar counter          0
utilib counter           0
utilib 1.4 counter       0
charge slots             0
city                     0
displayed comment     4889
id                       0
kind                     0
postal code              0
public name              0
rental status            0
scheduled at          4953
slots                    0
day                      0
hour                     0
minute                   0
dtype: int64

In [0]:
# We are going to drop the two columns since they don't contribute in our analysis.

df.drop(['scheduled at','displayed comment'], axis = 1, inplace = True)
df.head(3)

                            address  cars  bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 16 columns]

In [0]:
df.isnull().sum()

address               0
cars                  0
bluecar counter       0
utilib counter        0
utilib 1.4 counter    0
charge slots          0
city                  0
id                    0
kind                  0
postal code           0
public name           0
rental status         0
slots                 0
day                   0
hour                  0
minute                0
dtype: int64

# 1.6 Consistency

In [0]:
#Duplicates
# Duplicates are data points that are repeated in your dataset. 
#
# We will first check duplicates if any

df.duplicated().sum()

# Our new dataset does not have duplicated values.

0

# 1.7 Uniformity

In [0]:
# Changing column names from mixed to lower case

df.columns = map(str.lower, df.columns)
df.head()

                              address  cars  bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 16 columns]

# 2.0 Question 1

In [0]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
# This is when the blue ars are 0 at any station
df['bluecar counter'] == 0
df['city'] == 'Paris'

df.groupby([(df['bluecar counter'] == 0) & (df['city'] == 'Paris') & (df['rental status'] == 'operational'), 'hour'])['hour'].count().sort_values(ascending = False).loc[True].head()

# The most popular hours 2300hrs, 16oohrs and 0200hrs.

hour
23    42
16    42
2     42
8     41
14    40
Name: hour, dtype: int64

#2.1 Question 2

In [0]:
#What is the most popular hour for returning cars?

df['slots'] == 0

df.groupby([(df['slots'] == 0) & (df['rental status'] == 'operational'), 'hour'])['hour'].count().sort_values(ascending = False).loc[True].head()

# We get the most popular returning hours to be 1300hrs and at 0900hrs . Assuming that people don't pick cars at that time of the day.

hour
13    64
9     64
6     63
5     62
7     62
Name: hour, dtype: int64

#2.2 Question 3

In [0]:
# What station is the most popular overall?

df.groupby([(df['rental status'] == 'operational'),'public name'])['public name'].count().sort_values(ascending = False).head(2)

# The popular station is Paris/Porte de Montrouge/8, the name appears most.

rental status  public name
True           Paris/Porte de Montrouge/8    13
               Paris/Philippe Auguste/126    11
Name: public name, dtype: int64

In [0]:
# we can also find the most popular station using an address

df.groupby([(df['rental status'] == 'operational'),'public name','address'])['address'].count().sort_values(ascending = False).head(2)

# we find that the most popular address belongs to the most popular public name

rental status  public name                 address
True           Paris/Porte de Montrouge/8  8 Avenue de la Porte de Montrouge    13
               Paris/Philippe Auguste/126  126 Avenue Philippe Auguste          11
Name: address, dtype: int64

#2.3 Question 4

In [0]:
# What station is the most popular at the most popular picking hour?
# we will first find the most popular picking hour

df.groupby([(df['rental status'] == 'operational') & (df['cars'] == 0), 'hour'])['hour'].count().sort_values(ascending = False).loc[True].head()

#we get that the most popular hour for picking cars was 1400hrs

hour
14    56
16    52
20    52
23    50
19    50
Name: hour, dtype: int64

In [0]:
# To get the most popular station at the most popular picking hour
# since the most popular picking hour is 1400hrs
df['hour'] == 14

df.groupby([(df['hour'] == 14) & (df['rental status'] == 'operational'), 'public name'])['public name'].count().sort_values(ascending = False).loc[True].head()
\
# we get the most popular station at the most popular picking hour to be Paris/Jean-Jacques Rousseau/62 and Paris/Aumale/28.

public name
Paris/Jean-Jacques Rousseau/62         3
Paris/Aumale/28                        3
Paris/Victor MassÃ©/35                 2
Boulogne-Billancourt/RÃ©publique/24    2
AsniÃ¨res-sur-Seine/Henri Say/11       2
Name: public name, dtype: int64

#2.4 Question 5

In [0]:
# What postal code is the most popular for picking up Blue cars? 
# Does the most popular station belong to that postal code?
# Overall

blue_cars = df['bluecar counter'] == 0

df.groupby([blue_cars & (df['rental status'] == 'operational'), 'postal code'])['postal code'].count().sort_values(ascending = False).loc[True].head()

# The most popular postal code for picking up blue cars is 75008.

postal code
75008    85
75009    56
75015    54
75007    51
75011    51
Name: postal code, dtype: int64

In [0]:
# To check if the postal code belong to the most popular station overall.

df[df.values == 'Paris/Porte de Montrouge/8'].head(1)

# We get that the most popular station overall has 75041 as its postal code which doesn't correspond to the most popular postal code for picking blue cars.

                               address  cars  ...  hour  minute
122  8 Avenue de la Porte de Montrouge     3  ...    19      57

[1 rows x 16 columns]

#2.5 Question 7

In [0]:
# Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 
# when we consider utilib

utilib = df['utilib counter'] == 0
city = df['city'] == 'Paris'

df.groupby([utilib & (df['rental status'] == 'operational') & (df['city'] == 'Paris'),'hour'])['hour'].count().sort_values(ascending = False).loc[True].head()

# When we consider utilib the popular picking hour changes to 2100hrs unlike blue cars which are 2300hrs, 1600hrs and 0200hrs.

hour
21    125
16    116
8     111
9     109
23    108
Name: hour, dtype: int64

In [0]:
# What station is the most popular for picking utilib 

utilib = df['utilib counter'] == 0

df.groupby([utilib & (df['rental status'] == 'operational'), 'public name'])['public name'].count().sort_values(ascending = False).loc[True].head()

# The most popular postal code for picking utilib were; 
#Paris/Voltaire/182           
#SÃ¨vres/WolfenbÃ¼ttel/1

public name
SÃ¨vres/WolfenbÃ¼ttel/1    11
Paris/Voltaire/182         11
Paris/Courcelles/69        11
Paris/Darcet/28            10
Paris/Flandre/169          10
Name: public name, dtype: int64

In [0]:
# when we consider utilib 1.4

utilib_1_4 = df['utilib 1.4 counter'] == 0

df.groupby([utilib_1_4 & (df['rental status'] == 'operational'),'hour'])['hour'].count().sort_values(ascending = False).loc[True].head()

# When we consider utilib 1.4 the popular picking up hour 2100hrs just as utilib.
# We therefore conclude that the result changes when we use either utilib or utilib 1.4 instead of blue cars.

hour
21    186
13    181
2     180
8     178
18    178
Name: hour, dtype: int64

In [0]:
# To get the most popular station as at the most popular hour foe picking utilib 1.4

df.groupby([utilib_1_4 & (df['rental status'] == 'operational'),'public name'])['public name'].count().sort_values(ascending = False).loc[True].head()

# The most popular stations for picking utilib 1.4 is;                
#Paris/Voltaire/182

public name
Paris/Voltaire/182                       11
Paris/Georges Mandel/42                  10
Paris/Philippe Auguste/126               10
Fontenay-aux-Roses/Robert Marchand/32    10
Paris/Darcet/28                          10
Name: public name, dtype: int64

In [0]:
# To get the most popular postal code as at the most popular hour foe picking utilib 

df.groupby([utilib & (df['rental status'] == 'operational'),'postal code'])['postal code'].count().sort_values(ascending = False).loc[True].head()

# we get that the most popular code for picking up either of them is 75015.

postal code
75015    232
75016    202
75017    193
75011    167
75008    156
Name: postal code, dtype: int64

In [0]:
# To get the most popular postal code as at the most popular hour foe picking utilib 1.4

df.groupby([utilib_1_4 & (df['rental status'] == 'operational'),'postal code'])['postal code'].count().sort_values(ascending = False).loc[True].head()

# we get that the most popular code for picking up either of them is 75015.

postal code
75015    220
75016    197
75017    177
75011    161
75013    146
Name: postal code, dtype: int64

In [0]:
# we will try to find out if the code belongs to the most popular station overall
most_popular_station = 'Paris/Porte de Montrouge/8'
df[df.values == 'Paris/Porte de Montrouge/8'].head(1)

# we get that postal code for the most popular station is 75014 which do not correspond to the most popular postal code for picking either utilib or utilib 1.4.

                               address  cars  ...  hour  minute
122  8 Avenue de la Porte de Montrouge     3  ...    19      57

[1 rows x 16 columns]

In [0]:
df.shape

(5000, 16)